@import 'tailwindcss';

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #eaeded;
  color: #0f1111;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
